:root {
    --main: #2D2D2A;
    --sec: #121211;
    --acc1: #fc9f5b;
    --acc2: #5158bb;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    overflow: hidden;
}

/* ! Nagłówek + baner */
.naglowek{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    
}
.naglowek h1, .brand{
    font-family: sans-serif;
    color: white;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 1vw;
    margin-bottom: 0.2vw;
}
.naglowek i{
    margin-right: 1rem;
    font-size: 2.8rem;
    color: var(--acc2);
}
.navbar{
    padding-bottom: 0.8rem;
}
.navbar-menu{
    justify-content: center;
    align-items: center;
}
.navbar-start{
    margin: 0;
}
.navbar-item{
    font-size: 1.25rem;
    color: white;
}
.navbar-item:hover{
    color: var(--acc2);
}
.title{
    color: var(--acc1);
}
.ikona{
    font-size:1.6rem;
    margin-left: 0.7rem;
    color:white;
    align-self: center;
}
.ikona:hover{
    color: var(--acc2);
}

.baner img{
    height: auto;
    width: 100%;
}

/* ! ---- */

/* ! Separatory */
.separator{
    background-color: var(--acc2);
    width: 100%;
    min-height: 0.20rem;
}
.separator2{
    background-color: var(--acc1);
    width: 100%;
    min-height: 0.20rem;
    margin-top: -6.3px;
}
/* ! ---- */


/* ! Sekcja about */

.nag-sekcji-about{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--main);
    flex-direction: column;
    align-items: center;
}
.nag-sekcji-about h3{
    color: var(--acc1);
    font-size: 3rem;
    font-weight: 700;
}
.nag-sekcji-about span{
    color: white;
    font-size: 1.5rem;
}
.about{
    background-color: var(--main);
    scroll-margin-top: 35px;
}
.wrapper{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap:2rem;
    flex-wrap: wrap;
}
.wrapper img{
    margin-top: 1rem;
    box-shadow: 8px 8px 20px -7px #322F2F;
    border-radius: 50%;
    height: 28rem;
    margin-bottom: 2.6rem;
}
.about-tekst{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
/* ! ---- */


/* ! Sekcja realizacje */
.realizacje{
    scroll-margin-top: 30px;
    background-color: var(--sec);
    padding-bottom: 2.6rem;
}
.nag-sekcji-realizacje{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    background-color: var(--sec);
    flex-direction: column;
    align-items: center;
}
.nag-sekcji-realizacje h3{
    color: var(--acc2);
    font-size: 3rem;
    font-weight: 700;
}
.nag-sekcji-realizacje span{
    color: white;
    font-size: 1.5rem;
}
.container{
    margin-top: 2rem;
}
.card-tytul{
    color: var(--acc2);
    font-size: 2rem;
    font-weight: 700;
}

/* ! ---- */

/* ! Usługi */




/* ! ---- */

/* ! Kontakt */

.stopka{
    background-color: var(--sec);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    height: 100%;
    flex-direction: column;
}
.stopka p{
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.stopka span{
    color:white;
    font-size: 0.9rem;
}
.stopka a{
    color: var(--acc2);
    font-weight: 700;
    margin-bottom: 0.25rem;
}
.stopka a:hover{
    color: white;
    text-decoration: underline;
}
.wrapperikon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapperikon i{
    color: white;
}
.wrapperikon i:hover{
    color: var(--acc2);
}
/* ! ---- */
